// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';


//Material Icons
@import '~material-icons/iconfont/material-icons';



.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


.buttons-excel{
	background: green !important;
	color: white !important;
}



//STYLES FOR FORM
.button-add{
	margin-top: 30px;
} 

.p_factura{
	font-size: 10px;
}

